.product-detail {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}

.product-detail-close {
  position: absolute;
  top: 24px;
  left: 24px;
  background: var(--white);
  width: 14px;
  height: 14px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}

.product-detail-close:hover {
  cursor: pointer;
}
.product-detail > img:nth-child(1) {
  position: absolute;
  top: 12px;
  left: 12px;
}

.add-to-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius:  0 0 20px 20px;
}

.product-info {
  margin: 24px 24px  0 24px;
}

.product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}

.product-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--dm);
  margin-top: 0;
  margin-bottom: 36px;
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}