.shopping-card {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  align-items: center;
}

.shopping-card figure {
  margin: 0;
}

.shopping-card figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-card p:nth-child(2){
  color: var(--very-light-pink);
}

.shopping-card p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}